body{
    width: 200px;
    margin: 100px auto 0;
}
.box{
    background: red;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    box-shadow: 0 0 0 1px yellow,
        0 0 0 2px green,
        0 0 0 3px orange;
}