.wrapper {
	width: 600px;
}

#logo {
	height: 96px;
	width: 84px;
	display: inline-block;
	margin-left: -15px;
}

.sb-item {
	margin-left: 14px;	
}

.sb-icon-list {
	width: 430px;
	font-size: 0.9em;
}

#big-image {
	width: 570px;
	height: 355px;
}

#signup-txt {
	width: 246px;
	font-size: 0.7em;
	margin-right: 15px;
}

.email-input {
	height: 25px;
	width: 150px;
	margin-right: 15px;
}

.article {
	margin-right: 29px;
}

.third-art {
	margin-right: 0;
}