// Comment
/*
* Comment
*/


body {
	font-size: 1em;
	@include default-text-color($black);
}


#wrapper {
	background: $white;
	margin: 0 auto;
	max-width: 800px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article p a{
	color: $blue;
	&:hover, &:focus {
		color: $duke-blue;
	}
}

.left-sidebar-links {
	a {
		display: block;
		color: $main-green;
		opacity: 0.7;
		&: hover {
			opacity: 1;
		}
	}
}

.left-sidebar-links {
	border-bottom: 2px solid $main-green;
}

#riddle {
	padding: 20px;
	background-color: $alice-blue;
}

#riddle-answer {
	@extend #riddle;
	margin-top: 10px;
}

%dotted-box {
	border: 2px dotted $duke-blue;
	margin: 10px 0;
}

#riddle-answer {
	@extend %dooted-box;
}

.left-sidebar-links {
	border-color: lighten($main-green);
}

#search-button:hover {
	background-color: complement($main-green);
}

#vert-nav ul li:nth-child(1) {
	background-color: desaturate($orange, $green);
}

#vert-nav ul li:nth-child(2) {
	background-color: saturate($orange, 80%);
}

#vert-nav ul li:nth-child(3) {
	background-color: fade-out($orange, 50%);
}


#vert-nav ul li:nth-child(4) {
	background-color: fade-in($orange, 50%);
}

#vert-nav ul li:nth-child(5) {
	background-color: mix($orange, $yellow, 50%);
}

#vert-nav ul li:nth-child(6) {
	background-color: grayscale($orange);
}

#vert-nav ul li:nth-child(7) {
	background-color: adjust-color($main-green, $red:0, $green:40, $blue:30);
}

#vert-nav ul li:nth-child(8) {
	background-color: adjust-color($main-green, $hue:30, $saturation: 40, $lightness: 30, $alpha: 0.2);
}

#vert-nav ul li:nth-child(9) {
	background-color: shade($yellow, 50%);
}

#vert-nav ul li:nth-child(10) {
	background-color: tint($yellow, 50%);
}

#riddle-answer {
	@inlude border-radius(5px);
	@inlude box-shadow(5px 5px 5px 5px 2px $gray);
}

#maintitle {
	@include text-shadow(rgba(blue, 0.2), 2px 2px 3px);
}

%main-green-gradient {
	@include background-image(linear-gradient(left, $main-green, 80%));
}

footer {
	@extend %main-green-gradient;
}

img[alt="Programming"] {
	content: image-url('featured.png');
	width: image-width('featured.png');
	height: image-height('featured.png');
}

#logo {
	@include scale(2,2);
	@include transform(translateX(700px) translateY(10px), scale(2,2) rotate(-45deg));
}

article p:nth-child(2) {
	@include filter(drop-shadow($gray 1px 1px 0));
}

$riddle-color: gray;

@if $riddle;-color == blue {
	#riddle {
		background-color: $alice-blue;
	}
} @else {
		background-color: $ash-gray;
	}
}

$prct-yellow: 5%;

@for $i from 1 through 14 {
	#vert-nav ul li:nth-child(#{$i}) {
		background-color: mix($yellow, $white);
	}
	$prct-yellow: $prct-yellow + 5%;
}

@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

.icons {
	.clock {
		@include icons-sprite(clock);
	}
}

.icons * {
	height: 64px;
	width: 64px;
}

@import "compass/utilities/tables";


$table-color: $black;

.baseball-stats {
	table {
		@include table-scffolding;

		@include inner-table-borders(4px, $table-color);

		@include outer-table-borders(4px, $duke-blue);

		@include alternating-rows-and-columns($alice-blue, $ash-gray, $table, $white);
	}
}